.hero{
    svg{
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -4px;
    }

    .heroWrapper{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        .logo{
            margin-right: 150px;
            margin-top: 50px;
            width: 80px;
            height: 80px;
            color: #fff;
        }

        .content{
            margin-top: 30px;
            display: flex;
            justify-content: space-around;

            .rightColumn{
                max-width: 350px;
                color: #fff;

                h1{
                    margin-bottom: 25px;
                }

                .submit{
                    margin-top: 50px;
                    margin-right: 250px;
                    width: 200px;
                    background-color: #fff;
                    border: none;
                    outline: none;
                    border-radius: 33px;
                    padding: 8px 18px;
                    font-size: 26px;
                    font-weight: bold;
                    -webkit-box-shadow: 2px 4px 25px 3px rgba(0,0,0,0.74); 
                    box-shadow: 2px 4px 25px 3px rgba(0,0,0,0.74);
                    cursor: pointer;
                }
            }

            .leftColumn{
                width: 300px;
                height: 300px;
                border: 15px solid #ef44449c;
                border-radius: 50%;
                -webkit-box-shadow: 2px 4px 10px 0px rgba(239,68,68,0.85); 
                box-shadow: 2px 4px 10px 0px rgba(239,68,68,0.85);

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .scrollBtn{
            width: 50px;
            height: 50px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 48%;
            text-align: center;
            bottom: 40px;
            border-radius: 50%;
            border: none;
            outline: none;
            background-color: #ef4444;
            color: #fff;
            cursor: pointer;        
            margin: auto;
}
    }

    @media screen and (max-width:768px) {
        .heroWrapper{    
            background-color: #ef4444
        }   
        
        .content{
            flex-direction: column;
            flex-flow: column-reverse;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .scrollBtn{
            display: none !important;
        }
        
        svg{
            display: none;
        }

        .leftColumn{
            width: 100%;

            img{
                width: 100%;
            }
        }

        .rightColumn{
            h1,p{
                display: none;
            }
            .submit{
                margin-top: 220px !important;
                margin-right:0 !important;
            }
        }
    }
}