.guide{
    padding: 4rem 6rem;

    .titleImg{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .guideSection{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
}