.guide{
    padding: 4rem 6rem;
    z-index: 5;

    .titleImg{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .guideSection{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    @media screen and (max-width:768px) {
        display: none;
    }
}